<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.dufy.dao.IElemeDao" >

    <select id="getGoodsClassType" resultType="map" >
        select
        t.classid,t.classname,t.leafflag
        from  pub_goods_class t,
        pub_goods_classtype t1
        where
        t.classtypeid = t1.classtypeid
        and t1.entryid = #{entryid}
        and t1.classtypeid=#{classtypeid}
        order by t.classid
    </select>

    <select id="getGoods" resultType="map" >
        select
        a.placepointid,
        a.goodsid,
        c.opcode,
        c.goodsname,
        c.goodstype,
        c.goodsunit,
        a.priceunit,
        a.price,
        c.barcode,
        c.trademark
        from
        ngpcs_all_price a,
        gpcs_placepoint b,
        pub_goods c,
        pub_goods_class_dtl t
        where
        a.placepointid = b.placepointid
        and a.goodsid = c.goodsid
        and a.goodsid = t.goodsid
        and b.entryid = #{entryid}
        and t.classid = #{classid}
        and b.placepointid = #{placepointid}
        and a.priceid = #{priceid}
    </select>

    <select id="getGoodsQty" resultType="map" >
        select d.goodsid,
        nvl(sum(a.goodsqty-nvl(c.dtlgoodsqty,0)),0) goodsqty
        from
        bms_st_qty_lst a,
        gpcs_placepoint b,
        bms_st_io_dtl_tmp c,
        pub_goods d
        where d.goodsid = a.goodsid(+)
        and a.storageid = b.storageid(+)
        and a.batchid = c.batchid(+)
        and a.goodsstatusid(+) = 1
        and b.entryid(+) = #{entryid}
        and b.placepointid(+) = #{placepointid}
        and d.goodsid in
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by d.goodsid
    </select>

    <select id="getGoodsPrice" resultType="map" >
        select
        a.goodsid,
        a.price
        from
        ngpcs_all_price a,
        gpcs_placepoint b
        where
        a.placepointid = b.placepointid
        and b.placepointid=#{placepointid}
        and b.entryid = #{entryid}
        and a.priceid=#{priceid}
        and a.goodsid in
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
                #{item}
        </foreach>
    </select>

    <select id="getChangeGoodsIds" resultType="map" >
        select distinct t.goodsid
        from bms_st_io_doc t
        where t.storageid =
        (select storageid from gpcs_placepoint a where a.placepointid = #{placepointid})
        and t.credate > to_date(#{lasteventtime},'YYYYMMDDHH24MISS') - 1/96
        and t.goodsid in
        <foreach collection="goodsids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        union
        select distinct t.goodsid
        from bms_st_io_doc_tmp t
        where t.storageid =
        (select storageid from gpcs_placepoint a where a.placepointid = #{placepointid})
        and t.credate > to_date(#{lasteventtime},'YYYYMMDDHH24MISS') - 1/96
        and t.goodsid in
        <foreach collection="goodsids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>