<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.dufy.dao.ISuInvnoDao" >
  <resultMap id="BaseResultMap" type="org.ssm.dufy.entity.cerppojo.SuInvno" >
    <result column="iodtlid" property="iodtlid" jdbcType="VARCHAR" />
    <result column="invcode" property="invcode" jdbcType="VARCHAR" />
    <result column="invno" property="invno" jdbcType="VARCHAR" />
    <result column="invdate" property="invdate" jdbcType="VARCHAR" />
    <result column="supplyname" property="supplyname" jdbcType="VARCHAR" />
    <result column="entryname" property="entryname" jdbcType="VARCHAR" />
    <result column="total_in" property="total_in" jdbcType="VARCHAR" />
    <result column="susetdtlid" property="susetdtlid" jdbcType="VARCHAR" />
    <result column="total_line" property="total_line" jdbcType="VARCHAR" />
	<result column="shtxdh" property="shtxdh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    iodtlid, invcode, invno, invdate, supplyname, entryname, total_in, susetdtlid, total_line
  </sql>

  <select id="getSuInvnoDetailBySalesid" resultType="org.ssm.dufy.entity.cerppojo.SuInvno" >
    select d.iodtlid,
	       f.invno,
	       f.invcode,
	       to_char(f.invdate,'YYYY-MM-DD') invdate,
	       e.supplyname,
	       g.entryname,
	       e.total_in,
	       f.susetdtlid,
	       f.total_line,
	  	   h.zx_contractid shtxdh
	  from bms_sa_doc     a,
	       bms_sa_dtl     b,
	       bms_st_io_doc  c,
	       bms_st_io_dtl  d,
	       bms_su_set_doc e,
	       bms_su_set_dtl f,
	       pub_entry      g,
	  	   bms_su_dtl     h
	 where a.salesid = b.salesid
	   and b.salesdtlid = c.sourceid
	   and c.comefrom = 3
	   and c.inoutid = d.inoutid
	   and d.batchid = f.zx_batchid(+)
	   and f.susetdocid = e.susetdocid(+)
	   and f.sudocdtlid = h.sudocdtlid(+)
	   and a.entryid = g.entryid
	   <if test="entryid != null and entryid != '' " >
	   and a.entryid = #{entryid}
	   </if>
	   and a.salesid = #{salesid}
  </select>

</mapper>